.BreadBottom {
  margin: 1% auto;
  width: 80%;
  height: 4%;
  background: linear-gradient(#f08e4a, #e27b36);
  border-radius: 0 0 1.8rem 1.8rem;
  box-shadow: inset -0.9rem 0 #c15711;
}

.BreadTop {
  margin: 1% auto;
  width: 80%;
  height: 4%;
  background: linear-gradient(#bc581e, #e27b36);
  border-radius: 50% 50% 0 0;
  box-shadow: inset -0.9rem 0 #c15711;
  position: relative;
}

.Meat {
  margin: 1% auto;
  width: 80%;
  height: 4%;
  background: linear-gradient(#7f3608, #702e05);
  border-radius: 0.9rem;
}

.Cheese {
  margin: 1% auto;
  width: 90%;
  height: 3%;
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 1.25rem;
}

.Bacon {
  margin: 1% auto;
  width: 80%;
  height: 2%;
  background: linear-gradient(#bf3813, #c45e38);
  border-radius: 0.1rem;
}

.Lettuce {
  margin: 1% auto;
  width: 85%;
  height: 3.5%;
  background: linear-gradient(#228c1d, #91ce50);
  border-radius: 0.4rem;
}

.Tomato {
  margin: 1% auto;
  width: 40%;
  height: 2%;
  background: linear-gradient(#8c1d1d, #ce5050);
  border-radius: 0.2rem;
}
