.SideDrawer {
  box-sizing: border-box;
  padding: 2rem 1rem;
  width: 17.5rem;
  max-width: 70%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  transition: transform 0.3s ease-out;
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.SideDrawer button {
  margin: 0 0.2rem;
  padding: 0.25rem 1rem;
  height: 80%;
  background-color: #40a4c8;
  border: 0.1rem solid #40a4c8;
  border-radius: 0.2rem;
  box-shadow: 0.06rem 0.12rem 0.18rem #ccc;
  outline: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  align-self: center;
  transition: all 0.3s ease;
}

.SideDrawer button:hover,
.SideDrawer button:active {
  background-color: #fff;
  border-color: #fff;
  color: #40a4c8;
}

.Open {
  transform: translateX(0);
}

.Closed {
  transform: translateX(-100%);
}

.Logo {
  height: 11%;
  margin-bottom: 2rem;
}
