.Sandwich {
  margin: auto;
  width: 100%;
  height: 31.5vh;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (min-width: 500px) {
  .Sandwich {
    width: 50%;
    height: 80vh;
    max-height: 100%;
  }
}
